* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

.App {
  background-color: #0b2434;
  height: 100vh;
  justify-content: center;
}


.App,
.game {
  align-items: center;
  display: flex;
}